.to-guess {
  color: #cccc00;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: xxx-large;
  font-weight: bold;

}

.swatch {
  color: #cccc00;
  float: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
  font-weight: bold;
  height: 100px;
  width: 100px
}